.whatsapp-icon {
   position: fixed;
   bottom: 4vh;
   left: 20px;
   z-index: 1000; /* Adjust the z-index if needed to ensure it's above other elements */
 }
.call-icon{
   position: fixed;
   bottom: 15vh;
   left: 20px;
   z-index: 1000;
 }
 
 .whatsapp-icon img
 {
   height: 7.9vh; 
 }
 .call-icon img{
   height: 5.9vh;
 }
 
 .back-to-top-btn {
   display: none;
   position: fixed;
   bottom: 20px;
   right: 20px;
   z-index: 1000;
   cursor: pointer;
   /* Add any additional styling for your button */
 }

.back-to-top-btn img{
  height: 6vh;
}