#contact_us{
  margin: 20px 5vw;
  /* border: 2px solid black; */
}

form {
  /* max-width: 400px; */
  margin: 0 auto;
  /* border: 2px solid black; */
}

label {
  font-size: 2.6vh;
  text-align: start;
  display: block;
  margin-bottom: 1vh;
}

input, textarea {
  font-size: 3vh;
  border-radius: 1rem;
  width: 100%;
  padding: 1vh;
  margin-bottom: 1.5vh;
  box-sizing: border-box;
}

button {
  border-radius: 10px;
  background-color: #4CAF50;
  color: white;
  padding: 1vh 1.5vw;
  border: none;
  cursor: pointer;
  font-size: 1.5vw;
  font-weight: bold;
  /* width: 300px; */
}

button:hover {
  background-color: #45a049;
}

#img_form{
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* Add the following */
  flex-direction: row;
}

.form_illustration, 
form {
  flex: 1;
}

.illustration{
  /* border: 2px solid black; */
  width: 36vw;
}
/* --------------------------------------- */

@media (max-width: 800px) {

  button {
    font-size: 1rem;
    font-weight: normal;
  }

  .form_illustration{
    display: none;
  }

  form {
    /* max-width: 300px; */
    margin: 0 3vw;
    /* border: 2px solid black; */
  }
  
}