/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

/*--------------------------------------------------------------
# Header Section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Header Navbar
--------------------------------------------------------------*/
.header-navbar-einstein {
  min-height: 100vh;
  width: 100%;
  /* border: 5px solid black; */
  background-image: linear-gradient(to bottom, rgba(44, 15, 124, 0.989) 15%, rgb(255, 255, 255));
  background-size: cover;
  background-position: center;
  position: relative;
  /* filter: blur(10px); */
}

nav {
  display: flex;
  padding: 1% 5%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #feb900;
  display: block;
  transition: 0.5s;
  margin: auto;
}

.nav-links ul li:hover::after {
  width: 100%;
}

/*--------------------------------------------------------------
# Header einstein
--------------------------------------------------------------*/

.einstein-quote {
  border: 2px solid black;

}

.einstein-img{
  /* width: 500px; */
}