/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  background-image: linear-gradient(to bottom, rgba(44, 15, 124, 0.989) 50%, rgb(255, 255, 255));
}

/*--------------------------------------------------------------
# Header Navbar
--------------------------------------------------------------*/

.header-navbar-einstein {
  min-height: 70vh;
  width: 100%;
  /* border: 5px solid black; */
  background-size: cover;
  background-position: center;
  position: relative;
}

.logo {
  color: #fff;
  font-size: large;
}

.logo span {
  color: #feb900;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #feb900;
  display: block;
  transition: 0.5s;
  margin: auto;
}

.nav-links ul li:hover::after {
  width: 100%;
}

/*--------------------------------------------------------------
# Header einstein
--------------------------------------------------------------*/

.einstein-quote {
  margin: 5% 7%;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(238, 192, 133, 0.304);
  border-radius: 30%;
  /* background: blur(50px); */
}

.einstein-img,
.quote {
  flex: 1;
  margin: 1%;
  text-align: center;
}

.quote {
  color: #fff;
}

/* .quotesign::before {
  font-family: 'Playfair Display', serif;
  font-family: 'Lugrasimo', 'cursive';
  content: '\201c';
  display: block;
  font-size: 70px;
  margin-bottom: -40px;
  text-align: left;
  padding-left: 40px;
} */

.quote span {
  color: #feb900;
}

nav .fa {
  display: none;
}


/*--------------------------------------------------------------
# Main Content body
--------------------------------------------------------------*/
.main-content{

  height: 100vh;
  /* border: 2px solid black; */
  margin-top: 3%;
}
.boxes{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 3%;
}
.boxes h2{
  font-size: 36px;
  font-weight: 600;
  color: #feb900;
}
.boxes p{
  line-height: 22px;
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}
.row{
  display: flex;
  margin-top: 5%;
  justify-content: space-between;
}
.row h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.row p{
  color: #363333;
}
.col{
  flex-basis: 31%;
  background:#fff3f3 ;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
.col:hover{
  box-shadow: 0 0 20px 0 #feba0093;
}

/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/
.footer-section{
  margin-top: 1%;
  /* height: 50vh; */
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}


/* This will apply when the screen width is 600px or less */
@media (max-width: 850px) {

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  .einstein-quote {
    margin: 1% 5%;
    flex-direction: column;
  }


  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    backdrop-filter: blur(20px);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 0.5s;
  }

  nav .fa {
    display: flex;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
    text-align: center;
  }
}