/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

/*--------------------------------------------------------------
# Header Section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Header Navbar
--------------------------------------------------------------*/

.header-navbar-einstein {
  min-height: 100vh;
  width: 100%;
  /* border: 5px solid black; */
  background-image: linear-gradient(to bottom, rgba(44, 15, 124, 0.989) 60%, rgb(255, 255, 255));
  background-size: cover;
  background-position: center;
  position: relative;
  /* filter: blur(10px); */
}

.logo {
  color: #fff;
}

.logo span {
  color: #feb900;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #feb900;
  display: block;
  transition: 0.5s;
  margin: auto;
}

.nav-links ul li:hover::after {
  width: 100%;
}

/*--------------------------------------------------------------
# Header einstein
--------------------------------------------------------------*/

.einstein-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
}

.einstein-img,
.quote {
  flex: 1;
  margin: 1%;
  /* border: 2px solid black; */
  text-align: center;
}

.quote {
  color: #fff;
  /* color: #feb900; */
}

.quotesign::before {
  font-family: 'Playfair Display', serif;
  font-family: 'Lugrasimo', 'cursive';
  content: '\201c';
  display: block;
  font-size: 70px;
  margin-bottom: -40px;
  text-align: left;
  padding-left: 40px;
}

.quote span {
  color: #feb900;
}

nav .fa {
  display: none;
}

/* This will apply when the screen width is 600px or less */
@media (max-width: 700px) {
  .einstein-quote {
    flex-direction: column;
  }


  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(44, 15, 124, 0.989) 60%, rgb(255, 255, 255));
    /* background: rgba(44, 15, 124, 0.549); */
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
    text-align: center;
  }


}